.main {
  padding: 5px;
}

.text {
  font-size: 18px;
}

.button {
  padding: 5px;
  background: pink;
  color:white;
}
.time {
  font-size: 18px;
}
.svg {
  width: 620px;
  height:620px;
}
.street {
  fill: #555;
}
.lane {
  stroke: #555;
  stroke-width: 8px;
}
.signal{
  &.ns{
    fill: lightcoral;
  }
  &.ew{
    fill:lightblue;
  }
}
.car{
  fill: orange;
  // height:4px;
  // width:4px;
}