@import "~material-colors/dist/colors";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
body {
  background: $md-grey-500;
  font-family: 'Source Sans Pro';
}
.main {
  padding: 5px;
}

.text {
  font-size: 18px;
}

.button {
  padding: 5px;
  background: white;
  color: black;
  cursor: pointer;
  display: inline-block;
}
.time {
  font-size: 18px;
}
.svg {
  width: 620px;
  height: 620px;
}
.lane {
  stroke: #444;
  stroke-width: 10px;
}
.signal {
  // stroke: black;
  &.ns {
    fill: $md-pink-500;
  }
  &.ew {
    fill: rgb(153, 211, 231);
  }
}
.car {
  fill: $md-pink-200;
  // height:4px;
  // width:4px;
}
svg {
  display: inline-block;
}
.inputs {
  span {
    padding: 5px;
  }
}

.row {
  display: flex;
  & > div {
    margin: 5px;
  }
}
