.main {
  padding: 5px;
}

.text {
  font-size: 18px;
}

.button {
  padding: 10px;
  background: pink;
  color:white;
  // height: 30px;
  display: inline-block;
}
.time {
  font-size: 18px;
  // display: inline-block;
}
.svg {
  width: 620px;
  height:620px;
}
.street {
  fill: #555;
}
.lane {
  stroke: #555;
  stroke-width: 8px;
}
.signal{
  // height: 8px;
  // width: 8px;
  // x:-4px;
  // y:-4px;
  &.ns{
    fill: red;
  }
  &.ew{
    fill:lightgreen;
  }
}