body{
  background: #555;
}
.main {
  padding: 5px;
}

.text {
  font-size: 18px;
}

.button {
  padding: 5px;
  background: white;
  color:black;
  cursor: pointer;
  display: inline-block;
}
.time {
  font-size: 18px;
}
.svg {
  width: 620px;
  height:620px;
}
.street {
  fill: #555;
}
.lane {
  stroke: #444;
  stroke-width: 10px;
}
.signal{
  // stroke: black;
  &.ns{
    fill: rgb(236, 144, 238);
  }
  &.ew{
    fill:rgb(153, 211, 231);
  }
}
.car{
  fill: orange;
  // height:4px;
  // width:4px;
}
svg{
  display: inline-block;
}