@import "~material-colors/dist/colors";

.dot {
  fill: $md-light-blue-500;
  stroke: white;
}
.bg {
  fill: $md-grey-700;
}
.fd {
  fill: none;
  stroke-width: 2px;
  stroke: $md-blue-200;
}
.mfd {
  fill: none;
  stroke-width: 2px;
  stroke: $md-orange-500;
}
.label{
  text-anchor: middle;
}